<div class="container-fluid personal-p-0 personal-m-0">
	<footer class="personal-bg-n3">
		<div class="row personal-p-0 personal-m-0 ml-1 pt-4">
			<div class="col-md-12 col-sm-12">
				<h5 class="text-uppercase personal-c-white mb-4">Envases y Tanques</h5>
			</div>
		</div>
		<div class="row personal-p-0 personal-m-0 ml-1">
			<div class="col-md-4 col-sm-6 personal-f-s-sm personal-c-white">
				<h6>Contáctenos</h6>
				<p><i class="fas fa-phone"></i> 2 470 306 <span>(desde Quito)</span></p>
				<p><i class="fas fa-phone"></i> 022 470 306 <span> (Cualquier parte del país)</span></p>
				<p><i class="fas fa-mobile"></i> (+593) 9 6764 7864</p>
			</div>
			<div class="col-md-4 col-sm-6 personal-f-s-sm personal-c-white">
				<h6>Para consultas y cotizaciones</h6>
				<p><i class="fas fa-globe"></i> www.envasesytanques.com</p>
				<p><i class="fas fa-at"></i> envasesytanques@hotmail.com</p>
				<p><i class="fas fa-home"></i> Francisco Londoño Oe1-174 y Pedro de Alfaro, Quito - Ecuador</p>
			</div>
			<div class="col-md-4 col-sm-6 personal-f-s-md personal-f-d-none">
				<ul class="navbar-nav">
					<li class="nav-item pr-3">
		            	<a class="nav-link personal-c-white m-1 p-0" routerLink="">Inicio</a>
		          	</li>
					<li class="nav-item pr-3">
						<a class="nav-link personal-c-white m-1 p-0" routerLink="contactenos">Contáctenos</a>
					</li>
					<li class="nav-item pr-3">
						<a class="nav-link personal-c-white m-1 p-0" routerLink="productos">Productos</a>
					</li>
					<li class="nav-item pr-3">
						<a class="nav-link personal-c-white m-1 p-0" routerLink="quienes-somos">Quienes Somos?</a>
					</li>
		        </ul>
			</div>
		</div>
		<div class="row mt-1 ml-1 personal-p-0 personal-m-0">
			<div class="col-md-12 col-sm-12">
				<h6 class="personal-f-s-md personal-c-white text-center">Desarrollo:</h6>
			</div>
		</div>
		<div class="row ml-1 personal-p-0 personal-m-0">
			<div class="col-md-4 col-sm-4">
				
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<p class="personal-f-s-sm personal-c-white">Jorge Tinoco (<a class="personal-f-d-none personal-c-white" href="mailto:jorgeluistinocoj@gmail.com"> jorgeluistinocoj@gmail.com</a>)</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<!-- Swiper -->
				<!-- <div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></div>
						<div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></div>
					</div> -->
					<!-- Add Pagination -->
					<!-- <div class="swiper-pagination"></div> -->
				<!-- </div> -->
			</div>
		</div>
	</footer>
</div>