<div class="container-fluid mt-5">
	<footer class="">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<h5 class="personal-c-n2">Contáctenos a:</h5>
				<p class="personal-f-s-sm">envasesytanques@hotmail.com</p>
				<p class="personal-f-s-sm">(+953) 987654321</p>
				<p class="personal-f-s-sm">(+953) 987654321</p>
			</div>
			<div class="col-md-4 col-sm-6">
				<h5 class="personal-c-n2">Matriz:</h5>
				<p class="personal-f-s-sm">Av. Simón Bolivar Oe-165 y la que se cruza</p>
			</div>
			<div class="col-md-4 col-sm-6">
				
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-12 col-sm-12">
				<h6 class="personal-f-s-md">Desarrollada por:</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<p class="personal-f-s-sm"><i class="fas fa-address-card fa-lg personal-c-n1"></i> Jorge Tinoco</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<p class="personal-f-s-sm"><i class="fas fa-envelope fa-lg personal-c-n1"></i> <a class="personal-f-d-none personal-c-n3" href="mailto:jorgeluistinocoj@gmail.com"> jorgeluistinocoj@gmail.com</a></p>
			</div>
			<div class="col-md-4 col-sm-4">
				<p class="personal-f-s-sm"><i class="fas fa-phone fa-lg personal-c-n1"></i> (+593) 967647864</p>
			</div>
		</div>
	</footer>
</div>