<div class="container-fluid personal-p-0 personal-m-0">
	<footer class="personal-bg-n3">
		<div class="row personal-p-0 personal-m-0 ml-1 pt-4">
			<div class="col-md-4 col-sm-6">
				<h5 class="personal-c-white">Contáctenos a:</h5>
				<p class="personal-f-s-sm personal-c-white"><i class="fas fa-envelope"></i> envasesytanques@hotmail.com</p>
				<p class="personal-f-s-sm personal-c-white"><i class="fas fa-phone"></i> (+953) 987654321</p>
				<p class="personal-f-s-sm personal-c-white"><i class="fas fa-phone"></i> (+953) 987654321</p>
			</div>
			<div class="col-md-4 col-sm-6">
				<h5 class="personal-c-white">Matriz:</h5>
				<p class="personal-f-s-sm personal-c-white"><i class="fas fa-map-marker-alt"></i> Av. Simón Bolivar Oe-165 y la que se cruza</p>
			</div>
			<div class="col-md-4 col-sm-6">
				
			</div>
		</div>
		<div class="row mt-5 ml-1 personal-p-0 personal-m-0">
			<div class="col-md-12 col-sm-12">
				<h6 class="personal-f-s-md personal-c-white">Desarrollada por:</h6>
			</div>
		</div>
		<div class="row ml-1 personal-p-0 personal-m-0">
			<div class="col-md-4 col-sm-4">
				<p class="personal-f-s-sm personal-c-white"><i class="fas fa-address-card"></i> Jorge Tinoco</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<p class="personal-f-s-sm"><i class="fas fa-envelope personal-c-white"></i> <a class="personal-f-d-none personal-c-white" href="mailto:jorgeluistinocoj@gmail.com"> jorgeluistinocoj@gmail.com</a></p>
			</div>
			<div class="col-md-4 col-sm-4">
				<p class="personal-f-s-sm personal-c-white"><i class="fas fa-phone"></i> (+593) 967647864</p>
			</div>
		</div>
	</footer>
</div>