<div class="container mt-5">
	
	<div class="row">
		
		<div class="col-md-3">
			<img src="assets/img/logo_completo_vertical.png" alt="Envases y Tanques" class="img-thumbnail">
		</div>
		<div class="col-md-9">
			
			<h5>Misión</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempore inventore saepe at necessitatibus, temporibus quae quod facere nisi! Quidem alias, est temporibus nulla quae ratione, minus eveniet tempora ipsum.</p>
			<h5 class="mt-5">Visión</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nostrum facere dolor dolorem, quidem dolorum a assumenda nulla eos molestias eveniet placeat recusandae at earum dolores, atque omnis iste eaque!</p>
			<h6 class="mt-5">Actividad Económica</h6>
			<p>Recolección, transporte, reacondiconamiento, lavado y venta de envases plásticos, metálios y de cartón.</p>
			<p>Recolección, transporte y entrega al gestor califiado de papel, catón, plástico, chatarra, yute, almidón, madera y otros residuos orgánicos.</p>

			<h4 class="mt-5">Permiso Ambiental 0000AH1-0000012-000031-023402</h4>

		</div>

	</div>

</div>