<div class="container">
	
	<!-- <div class="row mt-5">
		<div class="col-md-2">
			<img src="assets/img/logo_base.png" alt="..." class="img-thumbnail">
		</div>
		<div class="col-md-10">
			<h6>Envases y Tanques</h6>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur soluta commodi ipsam provident ex obcaecati nulla facere harum tenetur qui accusantium saepe in perspiciatis dolores recusandae, ipsa eligendi, excepturi quisquam!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur soluta commodi ipsam provident ex obcaecati nulla facere harum tenetur qui accusantium saepe in perspiciatis dolores recusandae, ipsa eligendi, excepturi quisquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur soluta commodi ipsam provident ex obcaecati nulla facere harum tenetur qui accusantium saepe in perspiciatis dolores recusandae, ipsa eligendi, excepturi quisquam!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur soluta commodi ipsam provident ex obcaecati nulla facere harum tenetur qui accusantium saepe in perspiciatis dolores recusandae, ipsa eligendi, excepturi quisquam!</p>
		</div>
	</div> -->

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			
			<h6>Equipo de trabajo</h6>
			<hr>

		</div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-5">

			<!-- Card -->
			<div class="card" style="width: 16rem; margin: 0 auto">
				<img class="card-img-top rounded" src="assets/img/team/mario-solis.jpg" alt="Card image cap">
				<div class="card-body personal-c-n2">
					<h6>Mario Solis</h6>
					<p class="personal-f-s-sm personal-c-n3">Ejecutivo de Ventas</p>
					<p class="personal-f-s-sm"><i class="fas fa-phone"></i> (+953) 967647444</p>
					<p class="personal-f-s-sm"><i class="fas fa-phone"></i> (+953) 967647333</p>
					<p class="personal-f-s-sm"><i class="fas fa-envelope"></i> envasesytanques@hotmail.com</p>
				</div>
			</div>

		</div>
		<div class="col-md-5">

			<div class="card" style="width: 16rem; margin: 0 auto">
				<img class="card-img-top rounded" src="assets/img/team/mario-solis.jpg" alt="Card image cap">
				<div class="card-body personal-c-n2">
					<h6>Mario Solis</h6>
					<p class="personal-f-s-sm personal-c-n3">Ejecutivo de Ventas</p>
					<p class="personal-f-s-sm"><i class="fas fa-phone"></i> (+953) 967647444</p>
					<p class="personal-f-s-sm"><i class="fas fa-phone"></i> (+953) 967647333</p>
					<p class="personal-f-s-sm"><i class="fas fa-envelope"></i> envasesytanques@hotmail.com</p>
				</div>
			</div>
			
			<hr>
			
			

		</div>
	</div>

	<div class="row mt-5">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			
			<h6>Ubícanos</h6>

			<hr>

			<p><i class="fas fa-map-marker-alt"></i> Av. Simón Bolivar Km 12 1/2 y entrada norte.</p>

		</div>
	</div>

</div>
