<div class="container">

	<div class="row">

		<div class="col-md-2 col-sm-12 mb-5 mt-5">
			<h6>Filtros</h6>
			<h6 class="mt-2 personal-f-s-sm">Tipos</h6>
			<button type="button" class="btn btn-success btn-sm border border-secondary mr-1 mt-1">Cisterna</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">Tanque</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">Caneca</button>
			<h6 class="mt-2 personal-f-s-sm">Material</h6>
			<button type="button" class="btn btn-light  btn-sm border border-secondary mr-1 mt-1">Cartón</button>
			<button type="button" class="btn btn-success  btn-sm border border-secondary mr-1 mt-1">Plástico</button>
			<button type="button" class="btn btn-light  btn-sm border border-secondary mr-1 mt-1">Metál</button>
			<h6 class="mt-2 personal-f-s-sm">Volumen</h6>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">10</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">20</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">30</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">40</button>
			<button type="button" class="btn btn-success btn-sm border border-secondary mr-1 mt-1">50</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">60</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">70</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">80</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">90</button>
			<button type="button" class="btn btn-light btn-sm border border-secondary mr-1 mt-1">100</button>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-9 col-sm-12 mb-5">

			<h5 class="mt-5 mb-5 personal-c-n2">Productos</h5>

		 	<div class="row p-0">
			    <div class="col-md-4 col-sm-1 p-0 m-0">
			      <ul class="list-unstyled">
			        <li class="media mb-5">
			          <img class="mr-3" src="assets/img/galery/m5.jpg" alt="">
			          <div class="media-body">
			            <h6 class="mt-0 mb-2">Tanque 50L <span class="badge badge-primary">Promoción</span></h6>
			            <p class="personal-f-s-sm mb-1">- Capacidad: 50L</p>
			            <p class="personal-f-s-sm mb-1">- Radio: 0.50m</p>
			            <p class="personal-f-s-sm mb-1">- Tapa</p>
			          </div>
			        </li>
			        <li class="media mb-5">
			          <img class="mr-3" src="assets/img/galery/m6.jpeg" alt="Generic placeholder image">
			          <div class="media-body">
			            <h6 class="mt-0 mb-2">Balde de 20L <span class="badge badge-success">Disponible</span></h6>
			            <p class="personal-f-s-sm mb-1">- Capacidad: 50L</p>
			            <p class="personal-f-s-sm mb-1">- Radio: 0.50m</p>
			            <p class="personal-f-s-sm mb-1">- Tapa</p>
			          </div>
			        </li>
			        <li class="media mb-5">
			          <img class="mr-3" src="assets/img/galery/m10.jpg" alt="Generic placeholder image">
			          <div class="media-body">
			            <h6 class="mt-0 mb-1">Cisterna 1000L <span class="badge badge-danger">Agotado</span></h6>
			            <p class="personal-f-s-sm mb-1">- Capacidad: 50L</p>
			            <p class="personal-f-s-sm mb-1">- Radio: 0.50m</p>
			            <p class="personal-f-s-sm mb-1">- Tapa</p>
			          </div>
			        </li>
			      </ul>
			    </div>
			    <div class="col-md-4 col-sm-12 p-0 m-0">
			      <ul class="list-unstyled">
			        <li class="media mb-5">
			          <img class="mr-3" src="assets/img/galery/m17.jpg" alt="Generic placeholder image">
			          <div class="media-body">
			            <h6 class="mt-0 mb-1">Envase 40ml <span class="badge badge-success">Disponible</span></h6>
			            <p class="personal-f-s-sm mb-1">- Capacidad: 50L</p>
			            <p class="personal-f-s-sm mb-1">- Radio: 0.50m</p>
			            <p class="personal-f-s-sm mb-1">- Tapa</p>
			          </div>
			        </li>
			        <li class="media mb-5">
			          <img class="mr-3" src="assets/img/galery/m19.jpg" alt="Generic placeholder image">
			          <div class="media-body">
			            <h6 class="mt-0 mb-1">Envase 30ml <span class="badge badge-success">Disponible</span></h6>
			            <p class="personal-f-s-sm mb-1">- Capacidad: 30ml</p>
			            <p class="personal-f-s-sm mb-1">- Radio: 0.50cm</p>
			            <p class="personal-f-s-sm mb-1">- Tapa</p>
			          </div>
			        </li>
			      </ul>
			    </div>
			    <div class="col-md-4 col-sm-12 p-0 m-0">
			      <ul class="list-unstyled">
			        <li class="media mb-5">
			          <img class="mr-3" src="assets/img/galery/m18.jpg" alt="Generic placeholder image">
			          <div class="media-body">
			            <h6 class="mt-0 mb-1">Envase 50ml <span class="badge badge-primary">Promoción</span></h6>
			            <p class="personal-f-s-sm mb-1">- Capacidad: 50L</p>
			            <p class="personal-f-s-sm mb-1">- Radio: 0.50m</p>
			            <p class="personal-f-s-sm mb-1">- Tapa</p>
			          </div>
			        </li>
			        <li class="media mb-5">
			          <img class="mr-3" src="assets/img/galery/m20.jpeg" alt="Generic placeholder image">
			          <div class="media-body">
			            <h6 class="mt-0 mb-1">Envase 30ml <span class="badge badge-primary">Promoción</span></h6>
			            <p class="personal-f-s-sm mb-1">- Capacidad: 30ml</p>
			            <p class="personal-f-s-sm mb-1">- Radio: 0.50cm</p>
			            <p class="personal-f-s-sm mb-1">- Tapa</p>
			          </div>
			        </li>
			      </ul>
			    </div>
			</div>


		</div>

	</div>

</div>