<div class="container">
	
	<div class="row">

		<div class="col-md-12">

			<h5 class="mt-5">Gestión Ambiental</h5>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus, quae optio sequi, ullam iure porro quos, mollitia tempore blanditiis repellendus iste animi unde corporis adipisci dignissimos architecto itaque sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus omnis et iusto! Ullam dolor velit, similique ab porro odit, consectetur, voluptates quaerat cupiditate nihil fugiat natus autem sit atque dolorem.</p>

			<div class="row mt-5">

				<div class="col-md-4">
					<div class="card border-secondary">
						<!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
						<div class="card-body">
							<h5 class="card-title personal-f-s-lg">Gestión de Proyectos Ambientales</h5>
							<p class="card-text personal-f-s-md">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card border-secondary">
						<!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
						<div class="card-body">
							<h5 class="card-title personal-f-s-lg">Getión de Resíduos</h5>
							<p class="card-text personal-f-s-md">This card has supporting text below as a natural lead-in to additional content.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card border-secondary">
						<!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
						<div class="card-body">
							<h5 class="card-title personal-f-s-lg">Mantenimiento de Envases</h5>
							<p class="card-text personal-f-s-md">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>
