/* You can add global styles to this file, and also import other style files */
.persona-navbar-f {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999999;
}

.personal-f-s-sm {
	font-size: 12px; 
}

.personal-f-s-md {
	font-size: 14px; 
}

.personal-f-s-lg {
	font-size: 16px; 
}

.personal-f-d-none {
	text-decoration: none
}

.personal-f-d-none:active {
	text-decoration: none
}

.personal-f-d-none:hover {
	text-decoration: none
}

.personal-bg-n1 {
	background-color: #287AB8
}

.personal-bg-n2 {
	background-color: #0F4D77
}

.personal-bg-n3 {
	background-color: #00233D
}

.personal-c-n1 {
	color: #287AB8
}

.personal-c-n2 {
	color: #0F4D77
}

.personal-c-n3 {
	color: #00233D
}