/* You can add global styles to this file, and also import other style files */
.persona-navbar-f {
	width: 100%;
	z-index: 1;
}

.personal-navbar-scroll {
	position: fixed;
	top: 0;
	z-index: 9999999;
}

.personal-f-s-sm {
	font-size: 12px; 
}

.personal-f-s-md {
	font-size: 14px; 
}

.personal-f-s-lg {
	font-size: 16px; 
}

.personal-f-d-none {
	text-decoration: none
}

.personal-f-d-none:active {
	text-decoration: none
}

.personal-f-d-none:hover {
	text-decoration: none
}
/* background */
.personal-bg-n1 {
	background-color: #287AB8
}

.personal-bg-n2 {
	background-color: #0F4D77
}

.personal-bg-n3 {
	background-color: #00233D
}

.personal-bg-white {
	background-color: #fff
}
/* color */
.personal-c-n1 {
	color: #287AB8
}

.personal-c-n2 {
	color: #0F4D77
}

.personal-c-n3 {
	color: #00233D
}

.personal-c-white {
	color: #fff;
}

/* margin */
.personal-m-0 {
	margin: 0;
}
/* padding */
.personal-p-0 {
	padding: 0;
}

/* Buttons */
.personal-button-bg-n2 {
	background-color: #287AB8;
	color: white;
}
.personal-button-bg-n2:hover {
	background-color: #0F4D77;
}
.personal-button-bg-n2:active {
	background-color: #287AB8;
}

.fast {
    -vendor-animation-duration: 1s;
    -vendor-animation-delay: 0s;
}
.slow {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 1s;
}
.reallyslow {
    -vendor-animation-duration: 6s;
    -vendor-animation-delay: 3s;
}

.number-phone {
	margin: 0 auto;
	font-family:'Open Sans Condensed',sans-serif;
}